<p>{{ sessions|length }} active session{% if sessions|length != 0%}s{% endif %}</p>
{% if sessions|length != 0 %}
<div class="table">
    <table>
        <tr>
            <th></th>
            <th>User agent</th>
            <th>IP</th>
            <th>Last seen</th>
        </tr>
        {% for session in sessions %}
        <tr>
            <td><a href="/session?id={{ session.ID }}">[Link]</a></td>
            <td title="{{ session.UserAgent }}">{{ session.UserAgent | truncatechars:40 }}</td>
            <td title="{{ session.IPAddr }}">{{ session.IPAddr | truncatechars:30 }}</td>
            <td>{{ session.LastSeen | shortTimeSince }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}